.imgDiv {
  height: 400px;
  top: 0;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}
body {
  padding: 0 5%;
}

main {
  height: 100vh;
  /* border: 2px solid blue; */
}

.mainBodyDiv {
  margin-top: 10px;
  /* border: 2px solid rgb(156, 1, 1); */
  animation-duration: 3s;
  animation-name: slide-in;
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
